body {
    background-color: #7e88bf;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #3f61a6;
    border: 6px solid #282b59;
    border-radius: 15px;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #192640;
    border-radius: 5px;
    
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

.x2 {
  background-image: <img src="zendaya-2.jpg" alt="Zendaya" width="300" height="300">;
  background-repeat: no-repeat;
  color: #a65d5d;
  border-radius: 5px;
}

.x4 {
   background-image: url('image/zendaya-4.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}

.x8 {
   background-image: url('image/zendaya-8.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}

.x16{
   background-image: url('image/zendaya-16.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}

.x32{
   background-image: url('image/zendaya-32.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}

.x64{
   background-image: url('image/zendaya-64.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}

.x128{
   background-image: url('image/zendaya-128.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}

.x256{
   background-image: url('image/zendaya-256.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}

.x512{
   background-image: url('image/zendaya-512.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}

.x1024{
   background-image: url('image/zendaya-1024.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}

.x2048{
   background-image: url('image/zendaya-2048.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}

.x4096 {
   background-image: url('image/zendaya-4096.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}

.x8192 {
   background-image: url('image/zendaya-8192.jpg');
   background-repeat: no-repeat;
   color: #a65d5d;
   border-radius: 5px;
}
