body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

.x2 {
    background-image: url('image/zendaya-2');
  background-repeat: no-repeat;
  color: #776e65;
}

.x4 {
   background-image: url('image/zendaya-4');
   background-repeat: no-repeat;
   color: #776e65;
}

.x8 {
   background-image: url('image/zendaya-8');
   background-repeat: no-repeat;
   color: #776e65;
}

.x16{
   background-image: url('image/zendaya-16');
   background-repeat: no-repeat;
   color: #776e65;
}

.x32{
   background-image: url('image/zendaya-32');
   background-repeat: no-repeat;
   color: #776e65;
}

.x64{
   background-image: url('image/zendaya-64');
   background-repeat: no-repeat;
   color: #776e65;
}

.x128{
   background-image: url('image/zendaya-128');
   background-repeat: no-repeat;
   color: #776e65;
}

.x256{
   background-image: url('image/zendaya-256');
   background-repeat: no-repeat;
   color: #776e65;
}

.x512{
   background-image: url('image/zendaya-512');
   background-repeat: no-repeat;
   color: #776e65;
}

.x1024{
   background-image: url('image/zendaya-1024');
   background-repeat: no-repeat;
   color: #776e65;
}

.x2048{
   background-image: url('image/zendaya-2048');
   background-repeat: no-repeat;
   color: #776e65;
}

.x4096 {
   background-image: url('image/zendaya-4096');
   background-repeat: no-repeat;
   color: #776e65;
}

.x8192 {
   background-image: url('image/zendaya-8192');
   background-repeat: no-repeat;
   color: #776e65;
}
